@import 'base.css';
 #main > #section > .title > a {
     height: 0.4rem;
     line-height: 0.4rem;
     display: block;
     color: #000;
     border-bottom: 0.01rem solid #ccc;
     background-color: #ebebeb;
     padding: 0 0.16rem;
     font-size: 0.16rem;
     font-weight: bold;
}
 #main > #section > .title > a > i {
     float: right;
     line-height: 0.4rem;
}
 #main > #section > .content {
     width: 100%;
     border-bottom: 0.02rem solid #888;
}
 #main > #section > .content ul {
     display: flex!important;
     background-color: #f9f9f9;
     flex-wrap: wrap;
}
 #main > #section > .content ul li {
     border-right: 0.01rem solid #ccc;
     border-bottom: 0.01rem solid #ccc;
     width: 33.33%;
     height: 0.4rem;
     line-height: 0.4rem;
     text-align: center;
}
 #main > #section > .content ul li a {
     display: block;
}
 